In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('casas.csv')

In [30]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [31]:
# escolher apenas as colunas que usaremos para criar o nosso modelo
#colunas = ['tamanho', 'preco']
#df = df[colunas]

In [32]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [33]:
# valor preditor 
X = df.drop('preco', axis=1)
y = df['preco']

In [27]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [34]:
# separar o modelo em base de treino e modelo de test
# o resultado sera guardado em X_train, X_test

from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state = 42)

In [36]:
# tentar visualizar o treino 

X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
modelo = LinearRegression()

In [39]:
modelo.fit(X_train, y_train)

LinearRegression()

In [40]:
modelo.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [41]:
modelo.intercept_

-1484640.872167663

In [42]:
modelo.predict([[120, 2001, 2]])

C:\Users\NMP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([191436.53503831])

In [43]:
# fazendo a serialization 

import pickle

In [44]:
pickle.dump(modelo, open('modelo.sav', 'wb'))

In [45]:
import sklearn

In [46]:
sklearn.__version__

'1.0.2'