In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('casas.csv')

In [3]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [6]:
# escolher apenas as colunas que usaremos para criar o nosso modelo
colunas = ['tamanho', 'preco']
df = df[colunas]

In [5]:
df.head()

   tamanho   preco
0    159.0  208500
1    117.0  181500
2    166.0  223500
3    160.0  140000
4    204.0  250000

In [7]:
# valor preditor 

X = df.drop('preco', axis=1)
y = df['preco']

In [10]:
# separar o modelo em base de treino e modelo de test
# o resultado sera guardado em X_train, X_test

from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state = 42)

In [12]:
# tentar visualizar o treino 

X_train.head()

      tamanho
135     156.0
1452    100.0
762     144.0
932     177.0
435     154.0

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
modelo = LinearRegression()

In [15]:
modelo.fit(X_train, y_train)

LinearRegression()